.home
{
    overflow: hidden;
    position:relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;


}

@media (min-width:1000px)
{
    .home-games{
        padding: 0px 200px;
    }
    
}

.home-logo
{
    display: flex;
    justify-content: center;

    margin: 20px;

    color: rgb(196, 196, 196);
    font-size: 70px;
    
}

.home-games
{
    display: flex;

}

.home-help
{
    position:absolute;
    top:10px;
    right: 10px;

    cursor: pointer;
}

.home-help img{
    width: 30px;
    height: 30px;
filter:invert(75%)}

.home-rules
{
    position: absolute;
    padding: 20px;
    width: 40%;
    height: 100%;
    right: calc(-50%);
    transition: right 1s ease-in-out;

    background-color: rgb(44, 44, 44);
    color: rgb(216, 216, 216);
    
}

.home-rules>:last-child{
    position: absolute;
    right: 10px;
    top:10px;
    
}

.home-rules img:last-child{
    width: 30px;
    height: 30px;
    filter: invert(75%);
}