.main
{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.main-logo
{
    display: flex;
    justify-content: center;

    margin: 20px;
}

.main-games
{
    display: flex;

}