@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

html, body, #root,.App{
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(60, 60, 60);

  margin: 0;
}

/*COLORS*/
.bcolor-gray
{
  background-color: rgba(219, 219, 219, 0.5);
}

.color-black
{
 color:rgb(39, 39, 39)
}