@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  font-family: 'Varela Round', sans-serif;

}

html, body, #root,.App{
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(226, 226, 226);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*COLORS*/
.bcolor-gray
{
  background-color: rgba(255, 195, 67, 0.2);
}

.color-black
{
 color:black
}